<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CiscoWLC.WebAuth.Client" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="15" android:minSdkVersion="15" />
	<application android:label="CiscoWLC.WebAuth.Client" android:icon="@drawable/Icon"></application>
</manifest>