<?xml version="1.0" encoding="utf-8" ?>
<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android">
  <PreferenceCategory android:title="Network"
                      android:key="pref_key_conn">
    <EditTextPreference android:key="pref_ssid"
                        android:title="SSID" />
  </PreferenceCategory>
  <PreferenceCategory android:title="Login page"
                      android:key="pref_key_loginpage">
    <EditTextPreference android:key="pref_loginpage"
                        android:title="Login page URL"
                        android:defaultValue="https://1.1.1.1/login.html"
                        android:inputType="textUri" />
  </PreferenceCategory>
  <PreferenceCategory android:title="Cisco Web Authentication"
                      android:key="pref_key_auth">
    <EditTextPreference android:key="pref_username"
                        android:title="Username" />
    <EditTextPreference android:key="pref_password"
                        android:title="Password"
                        android:inputType="textPassword" />
  </PreferenceCategory>
  <PreferenceCategory android:title="Other"
                      android:key="pref_key_other">
    <CheckBoxPreference android:title="Ignore SSL-certificate errors"
                        android:summary="Manual application restart may be required"
                        android:defaultValue="true"
                        android:key="pref_ignore_ssl_errors" />
    <EditTextPreference android:key="pref_start_url"
                        android:title="Start URL"
                        android:summary="URL that will be open in a browser after successful connection (keep empty to disable this feature)"
                        android:defaultValue="http://www.yandex.ru"
                        android:inputType="textUri" />
    <ListPreference android:title="Toast notifications"
                    android:summary="Select toast notifications level"
                    android:key="pref_toasts_level"
                    android:defaultValue="2"
                    android:entries="@array/toastLevelNames"
                    android:entryValues="@array/toastLevelValues" />
    <EditTextPreference android:key="pref_timeout_connect"
                        android:title="Network connect timeout"
                        android:summary="Timeout after connecting to Wifi and before using it, milliseconds (0 to disable)"
                        android:defaultValue="10000"
                        android:inputType="number" />
    <EditTextPreference android:key="pref_interval_check_connect"
                        android:title="Network accessibility check interval"
                        android:summary="Network may become accessible before timeout elapsed. Set how often the accessibility will be checked, milliseconds (0 to disable)"
                        android:defaultValue="200"
                        android:inputType="number" />
  </PreferenceCategory>
</PreferenceScreen>